{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{% static 'assets/images/favicon.png' %}"
      rel="icon"
      type="image/png"
    />
    <title>SocialX | Settings</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Coustom links -->
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}" />
  </head>

  <body>
    <div class="container m-auto">
      <!-- main heading of the page -->
      <h1 class="text-2xl leading-none text-gray-900 tracking-tight">
        <a href="/">Home</a>
        | Account Setting for <b>{{user.username }}</b>
      </h1>
      <!-- div which contains the form -->
      <div class="grid lg:grid-cols-3 mt-2 gap-3">
        <div class="bg-black rounded-md lg:shadow-lg shadow col-span-2">
          <!-- form for taking input -->
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="grid grid-cols-1 gap-2 lg:p-4 p-1">
              <!-- div for image input -->
              <div>
                <label for="profileimage"> Select your Profile image</label>
                <img
                  src="{{user_profile.profileimg.url}}"
                  width="200px"
                  height="200px"
                />
                <input type="file" name="profileimage" value="" />
              </div>
              <!-- div for textarea fot taking bio -->
              <div class="col-span-2">
                <textarea
                  id="about"
                  name="bio"
                  rows="3"
                  placeholder="Enter your bio here"
                >
{{user_profile.bio}}</textarea
                >
              </div>
              <!-- div for input which takes location for user -->
              <div class="col-span-2">
                <input
                  value="{{user_profile.location}}"
                  name="location"
                  type="text"
                  placeholder="Enter your location"
                />
              </div>
            </div>
            <!-- div for submit button -->
            <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
              <button type="submit" class="button bg-blue-700">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
  </body>
</html>
